:root {
  --backgroundcolor: #09090b;
  --fontprimary: #fafafa;
  --fontsecondary: hsl(240deg 5.08% 65.29%);
}

nav {
  background-color: var(--backgroundcolor);
  color: var(--fontcolor);
}

section {
  background-color: var(--backgroundcolor);
}
.card-body {
  background-color: var(--backgroundcolor);
}
.primary {
  color: var(--fontprimary);
}
.secondary {
  color: var(--fontsecondary);
}
.name {
  padding-top: 50px;
}

.rotate-icon {
  animation: rotate360 10s linear infinite;
}
.main-skill {
  transition: transform 1s;

  margin: 0 auto;
}
.main-skill:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.autoShow {
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 20% cover 100vh;
}
@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.education {
  margin-top: 5.5rem;
  padding-top: 2.5rem;
  margin-bottom: 5.5rem;
  padding-bottom: 2.5rem;
}
.skills {
  margin-top: 5.5rem;
  padding-top: 2.5rem;
  /* margin-bottom: 5.5rem;
  padding-bottom: 2.5rem; */
}
.contact {
  margin-top: 5.5rem;
  padding-top: 2.5rem;

  padding-bottom: 2.5rem;
}
.projects {
  margin-top: 5.5rem;
  padding-top: 2.5rem;
  /* margin-bottom: 5.5rem;
  padding-bottom: 2.5rem; */
}
.skills img {
  width: 30px;
}
