:root {
  --backgroundcolor: #09090b;
  --fontprimary: #fafafa;
  --fontsecondary: hsl(240deg 5.08% 65.29%);
}

nav {
  background-color: var(--backgroundcolor);
  color: var(--fontcolor);
}
section {
  background-color: var(--backgroundcolor);
}
.primary {
  color: var(--fontprimary);
}
.secondary {
  color: var(--fontsecondary);
}
.name {
  padding-top: 50px;
}

.rotate-icon {
  animation: rotate360 4s linear infinite;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
